# compiled output
**/dist
**/node_modules

# Turbo
.turbo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# Environment
.env
.env.*
!.env.example
!.env.test

# K6
etc/k6-load-test/reports
etc/k6-load-test/env

# Docker
docker-compose.override.yml

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local

# Redis
dump.rdb

# PostgreSQL
*.dump

.temp
WARP.md
docker-compose.full.yml
local/
local-test-scripts/
