# Game API Configuration

# For local development
#GAME_DOMAIN=http://localhost:3000

# For Docker development 
#GAME_DOMAIN=http://host.docker.internal:3000

# For production testing
#GAME_DOMAIN=https://api.pubgclash.com